manifest {
    name            = '2species-to-pipelines'
    author          = 'local bootstrap'
    homePage        = 'https://github.com/nf-core'
    description     = 'nf-core style base pipeline scaffold for cross-species integration workflows.'
    nextflowVersion = '>=23.10.0'
    version         = '0.1.0'
}

params {
    input             = "${projectDir}/assets/samplesheet.csv"
    outdir            = "${projectDir}/results"
    harmony_container   = 'ghcr.io/break-through-cancer/2species2pipelines/r-methods:latest'
    seurat4_container   = 'ghcr.io/break-through-cancer/2species2pipelines/r-methods:latest'
    fastmnn_container   = 'ghcr.io/break-through-cancer/2species2pipelines/r-methods:latest'
    bbknn_container     = 'ghcr.io/break-through-cancer/2species2pipelines/python-methods:latest'
    scanorama_container = 'ghcr.io/break-through-cancer/2species2pipelines/python-methods:latest'
    scvi_container      = 'ghcr.io/break-through-cancer/2species2pipelines/python-methods:latest'
    scgen_container     = 'ghcr.io/break-through-cancer/2species2pipelines/python-methods:latest'
    publish_dir_mode    = 'copy'
}

process {
    executor = 'local'
    cpus     = 2
    memory   = '4 GB'
    time     = '1h'
    errorStrategy = 'terminate'
}

profiles {
    standard {
        includeConfig 'conf/base.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
    docker {
        docker.enabled = true
        process.container = 'ubuntu:22.04'
        process {
            withName: HARMONY_INTEGRATION {
                container = params.harmony_container
            }
            withName: SEURAT4_INTEGRATION {
                container = params.seurat4_container
            }
            withName: FASTMNN_INTEGRATION {
                container = params.fastmnn_container
            }
            withName: BBKNN_INTEGRATION {
                container = params.bbknn_container
            }
            withName: SCANORAMA_INTEGRATION {
                container = params.scanorama_container
            }
            withName: SCVI_INTEGRATION {
                container = params.scvi_container
            }
            withName: SCGEN_INTEGRATION {
                container = params.scgen_container
            }
            withName: EVALUATE_INTEGRATION {
                container = params.bbknn_container
            }
            withName: AGGREGATE_UNSCALED_METRICS {
                container = params.bbknn_container
            }
            withName: SEURAT_TO_ANNDATA_PAIR {
                container = params.harmony_container
            }
            withName: SEURAT_TO_ANNDATA_SINGLE {
                container = params.harmony_container
            }
            withName: ORTHOLOG_CONVERT_PAIR {
                container = params.harmony_container
            }
        }
    }
}
